<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Google Challenge - 01/15/2019 by r.kinra.
  </h1>
  <pre>
   <b>Instructions:</b>
   Things to be shared in advance with the candidate
   ·  Task will be performed on https://stackblitz.com/ (to have a nice coding environment)
   ·  Will be a angular2 app using typescript
   ·  Will use @angular/material (https://material.angular.io/)

   The task can be then done via VC or off-line to be provided next day (some candidates may need to get up to speed with angular2/typescript/material ... even if candidate is not familiar, if they can get up to speed in a reasonable time that is ok for us).

   The task itself: on https://stackblitz.com/, please create an angular2 app that does the following:
   ·  Uses @angular/material to display a numeric input field and 3 buttons
   ·  two of the buttons will allow increasing/decreasing the value in the input field (+1 and -1)
   ·  The third button will toggle on/off mouse tracking, so that the input field displays the mouse x position in the browser window while the mouse is moving. The +1/-1 buttons should be disabled when mouse tracking is active and enabled when it is not.

   Important notes:
   ·  Make sure the app is styled in material design (we are interested in the ability to correctly use angular material directives and startup code)
   ·  The "track mouse" button should continuously track the mouse until it is clicked again. We are interested in event handling start and stop as part of user interaction.
 </pre>

    <form>
     <div example-button-row>
      <button mat-mini-fab [disabled]="disableButtons" type="button" color="primary" (click)="decrement($event)">-1</button>

      <mat-form-field class="example-full-width" style="margin: 0px 12px 0px 12px">
        <input matInput type="number" maxlength="7" [value]="myValue">
      </mat-form-field>

      <button mat-mini-fab [disabled]="disableButtons" type="button" color="primary" (click)="increment($event)">+1</button>

     </div>

     <div example-button-row>
       <button mat-stroked-button type="button" color="primary" (click)="toggleTrackMouseMove($event)">Track Mouse Move</button>
     </div>


    </form>

<div>
